.cn--frame-definition-item {
  .frame-definition-item--tab{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;

    .tab--name {
      cursor: pointer;
      flex-grow: 1;
      display: flex;
      align-items: center;
    }
  }

  .cn--frame-definition-renderer {
    margin-left: 16px;
    display: grid;
    > div {
      border: 1px solid #e1e4e8;
    }
  }
}
