.box {
  position: absolute;
  opacity: .5;
  &.mod--circle {
    border-radius: 50%;
  }
  &.mod--capsule {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    .cn--capsule-handles {
      position: relative;
      .capsule--handle {
        position: absolute;
        border-radius: 50%;
        opacity: 0.5;
        background-color: white;
        cursor: move;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
  &.mod--hurt {
    background-color: rgb(0,128,255);
    &.mod--persistent {
      background-color: rgb(0,228,255);
    }
  }
  &.mod--hit {
    background-color: rgb(255,0,0);
    &.mod--persistent {
      background-color: rgb(155,100,200);
    }
  }
  &.mod--push {
    opacity: 1;
    background-color: rgba(255,200,0, .2);
    border: 1px dashed black;

    &.mod--persistent{
      background-color: rgba(255, 169, 53, 0.2);
      border: 1px dashed grey;
    }

    &.mod--editable {
      --handle-width: 9px;
      --border-width: 3px;
      background-color: rgba(255,200,0, .5);
      border: 3px dashed black;
      box-sizing: border-box;
      &:hover {
        background-color: rgba(255,200,0, .7);
        cursor: pointer;
      }

      .box--handle {
        position: absolute;
        &.mod--vertical {
          width: 100%;
          height: var(--handle-width);
          &:hover {
            cursor: ns-resize;
          }
        }
        &.mod--horizontal {
          height: 100%;
          width: var(--handle-width);
          &:hover {
            cursor: ew-resize;
          }
        }
        &.mod--top {
          top: calc((var(--handle-width) + var(--handle-width)) / -2);
        }
        &.mod--bottom {
          bottom: calc((var(--handle-width) + var(--handle-width)) / -2);
        }
        &.mod--left {
          left: calc((var(--handle-width) + var(--handle-width)) / -2);
        }
        &.mod--right {
          right: calc((var(--handle-width) + var(--handle-width)) / -2);
        }
      }
    }
  }
}